:root {
	--color-key-default: #337ab7;
    --color-key-dark-default: #2e6da4;
    --vk-size-text-sm: .75rem;
    --vk-margin-loop-inner : 1rem;
    --vk-line-height-low:1.8;
    // --vk-size-text-meta: 12px;
}